---
import Page from "../components/Page.astro";
---

<Page title="Addario Miranda Portfolio">
  <h1 data-aos="fade-in" data-aos-duration="1500" data-aos-delay="1500"> 
    Addario Miranda Portfolio!    
  </h1>
   <h2 class="whitesmoke-text">About Me</h2>
  <p class="whitesmoke-text"> I have only been coding for a few months now but I decided to take AP computer sciecnce to learn this really improtant life skill. To me coding is very important to learn because it is a big part of our world, and will be even larger in the future. I hope all my projects show what I have learned!</p>
  
</Page>
  <h2 class="whitesmoke-text">Project Menu</h2>
  <div>
    <ul>
      <li>
        <a href="./projects/binary-search/"> 
          Binary Search Project 
        </a>
      </li>
      <li>
        <a href="./projects/exrtra-projects/"> 
          Turtle Project
        </a>
      </li>
      <li>
        <a href="./projects/APCOMPSCI-Timeline/"> 
           Computer Science Timeline
        </a>
      </li>
      <li>
        <a href="./projects/mash-game/"> 
          Mash Game
        </a>
      </li>
      <li>
        <a href="./projects/image-filter/"> 
          Image Filter
        </a>
      </li><li>
        <a href="./projects/disease-simulation/"> 
          Disease Simulation
        </a>
      </li>
    </ul>
  </div>