---
import Page from "../components/Page.astro";
---

<Page title="Addario Miranda Portfolio">
  
    <h1 data-aos="fade-in"> Addario Miranda Portfolio!</h1>
   <h2>About Me</h2>
  <p> I have only been coding for a few months now but I decided to take AP computer sciecnce to learn this really improtant life skill. To me coding is very important to learn because it is a big part of our world, and will be even larger in the future. I hope all my projects show what I have learned!</p>
</Page>
  <h2>Project Menu</h2>
  <nav>
    <ul>
      <li>
        <a href="./projects/binary-search/"> 
          Binary Search Project 
        </a>
      </li>
      <!-- More projects to come soon! -->
    </ul>