---
/* Library imports go here */
const { title, children } = Astro.props;
/* Javascript that run "server-side" when we build go here */

import "../scripts/timeline.js";
---

<!-- HTML Code goes here w/ "Astro" templating in curly brackets --><!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initialScale=1.0" />
    <script src="../scripts/timeline.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>
      {title}
    </title>
    <slot name="head" />
  </head>
  <body class="container">
    <slot />
  </body>
  <footer>
    Page by <b>Addario Miranda</b>, 
    last updated October, 2024.
    <p xmlns:cc="http://creativecommons.org/ns#" xmlns:dct="http://purl.org/dc/terms/"><span property="dct:title">Addario Miranda Portfolio</span> by <span property="cc:attributionName">Addario Miranda</span> is marked with <a href="https://creativecommons.org/publicdomain/zero/1.0/?ref=chooser-v1" target="_blank" rel="license noopener noreferrer" style="display:inline-block;">CC0 1.0<img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1" alt=""><img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/zero.svg?ref=chooser-v1" alt=""></a></p>
    <p>Acknowledements: I used anime.js, pico.css, and AOS.js<p>
</footer>
</html>
