---
/* Library imports go here */
const { title, children } = Astro.props;
/* Javascript that run "server-side" when we build go here */

import "../scripts/timeline.js";
---

<!-- HTML Code goes here w/ "Astro" templating in curly brackets --><!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initialScale=1.0" />
    <script src="../scripts/timeline.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>
      {title}
    </title>
    <slot name="head" />
  </head>
  <body class="container">
    <slot />
  </body>
  <footer>
    Page by <b>Addario Miranda</b>, 
    last updated October, 2024.
    All rights reserved.
</footer>
</html>
