---
import TimelineProject from "../../components/TimelineProject.astro"
---

<TimelineProject
  title="Computer Science Timeline"
  assignment="This is a basic timeline of all my projects for this class"
>
  <p>My project was fun but it was my first time ever coding. It helped me learn a lot!</p>
  <!-- Replace src="" on iframe with address of your published
   project :-) -->
  <div class='wrapper'>
  <div class='steps' id='steps'>
    <div class='step'>
      <div class='number completed'>
        <svg viewBox="0 0 512 512" width="100" title="check">
          <path d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z" />
        </svg>
      </div>
      <div class='info'>
        <p class='title'>
          Verify Identity
        </p>
        <p class='text'>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat pariatur minima nemo? Facilis veniam reprehenderit quaerat aspernatur, quis voluptas voluptate.</p>
      </div>
    </div>

    <div class='step'>
      <div class='number'>2</div>
      <div class='info'>
        <p class='title'>Create Account</p>
        <p class='text'>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat pariatur minima nemo? Facilis veniam reprehenderit quaerat aspernatur, quis voluptas voluptate.</p>
      </div>
    </div>
  </div>
  </div>
  
</TimelineProject>

