---
import Project from "../../components/Project.astro"
---

<Project
  title="Random Project"
  assignment="This is a random placeholder for a future project"
>
  <p>This will be a place where I can place a reflection after a project</p>
  <!-- Replace src="" on iframe with address of your published
   project :-) -->
  <iframe 
    src="https://bookish-waddle-x5v5wvx6pgxrf6g54-5173.app.github.dev/" 
    title="Which Soccer Player Are You"
    width="100%"
    height="800px"
  ></iframe>

</Project>