---
import Project from "../../components/Project.astro"
---

<Project
  title="Image Filter"
  assignment="Create a program that creates a filter over an image"
>
  <p>This project was really challenging but I had a great time coding and applying filters to the photos provided. We had 5 challenges to complete and my group members and I did great completing all 5 on time!</p>
  <!-- Replace src="" on iframe with address of your published
   project :-) -->
  <iframe 
    src="https://iacs-cs.github.io/image-filter-project-los-jefes/" 
    title="Image Filter"
    width="100%"
    height="800px"
  ></iframe>

</Project>