---
import Project from "../../components/Project.astro"
---

<Project
  title="Mash Game"
  assignment="Create a game"
>
  <p>This was a fun project I really enjoyed working with Andre to create a scramble game that was iacs themed. We used words that represent school spirit and teachers last names!</p>
  <!-- Replace src="" on iframe with address of your published
   project :-) -->
  <iframe 
    src="https://iacs-cs.github.io/mash-game-andre-addario/" 
    title="IACS Word Scramble Game"
    width="100%"
    height="800px"
  ></iframe>

</Project>
